<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.android.google.wearable.watchviewstub" >

    <uses-sdk android:minSdkVersion="20" android:targetSdkVersion="20" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name="com.example.android.google.wearable.watchviewstub.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.google.wearable.watchviewstub.DayActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.android.google.wearable.watchviewstub.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.google.wearable.watchviewstub.MainActivity" />
        </activity>
        <activity
            android:name="com.example.android.google.wearable.watchviewstub.SummaryActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.android.google.wearable.watchviewstub.DayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.google.wearable.watchviewstub.DayActivity" />
        </activity>
    </application>

</manifest>
